/* Basic editor styles */
.note-table{
  width: 100%;
  .tiptap {

    /* Table-specific styling */
    table {
      border-collapse: collapse;
      margin: 0 auto;
      overflow: hidden;
      word-break: break-all;
      // word-wrap: break-word;
      //  table-layout: fixed;
      //  width: 100%;

      // [Notation]
      // Because the fixed layout compress the rest columns, prioritizing column which has width,
      // The layout is often very wrong when the window size changes after the table has been resized.
      // Thus, in this case, the width is defined specifically.

      @media (900px <= width){
        col{
            min-width: 600px;
            max-width: 900px;
          }
      }
      @media (700px <= width <= 900px){
        col{
            min-width: 400px;
            max-width: 700px;
          }
      }

      @media (500px <= width <= 700px){
        col{
            min-width: 200px;
            max-width: 500px;
          }
      }

      @media (300px <= width <= 500px){
        col{
            min-width: 100px;
            max-width: 300px;
          }
      }

      @media (width < 300px) {
        col{
          min-width: 100px;
          max-width: 300px;
        }
      }
      // [Notation]
      // If you customize the table using col, 
      // you will find yourself to fail to use resizing function of table.
      


      td{
        border: 1px solid gray;
        box-sizing: border-box;
        min-width: 1em;
        padding: 6px 8px;
        position: relative;
        vertical-align: top;
        text-align: left;
        height: 100px;

        > * {
          margin-bottom: 0;
        }
      }

      .selectedCell:after {
        background: gray;
        content: "";
        left: 0; right: 0; top: 0; bottom: 0;
        pointer-events: none;
        position: absolute;
        z-index: 2;
      }

      .column-resize-handle {
        background-color: purple;
        bottom: -2px;
        pointer-events: none;
        position: absolute;
        right: -2px;
        top: 0;
        width: 4px;
      }
    }

    .tableWrapper {
      margin: 0;
      overflow-x: auto;
    }

    &.resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }

    .upper-area {
      width: 100%;
      height: 7px;
      top: 0;
      left: 0;
      position: absolute;
    }

    .bottom-area {
      width: 100%;
      height: 7px;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    .right-area {
      width: 7px;
      height: 100%;
      top: 0;
      right: 2px;
      position: absolute;
    }

    .left-area {
      width: 7px;
      height: 100%;
      top: 0;
      left: 2px;
      position: absolute;
    }

    .hover-area:hover {
      cursor: crosshair;
    }
  }
}